*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}
.contact-img img{
  max-width: 100%;
  width: 1080px;
  height: auto;
  border-radius: 50px;
}
:root{
  --bg: #101010;
  --font1: #fff;
  --font2: #f9004d;
  --font3: #c6c9d8bf;
  --bg2: #191919;
  --bg3: #f9004d;
}
section{
  padding: 40px 15%;
}
.contact{
  background: var(--bg);
  height: 100%;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  grid-gap: 6rem;
}
.contact-form h1{
  font-size: 80px;
  color: var(--font1);
  margin-bottom: 20px;
}

span{
  color: var(--font2);
}

.contact-form p{
  color: var(--font3);
  letter-spacing: 1px;
  line-height: 26px;
  font-size: 1.1rem;
  margin-bottom: 3.8rem;
}
.contact-form form{
  position: relative;
}
.contact-form form input, form textarea{
  width: 100%;
  padding: 17px;
  border: none;
  outline: none;
  background: var(--bg2);
  color: var(--font1);
  font-size: 1.1rem;
  margin-bottom: 0.7rem;
  border-radius: 10px;
}
.contact-form textarea{
  resize:none;
  height: 200px;
}
.contact-form form .submit{
  display: inline-block;
  background: var(--bg3);
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid transparent;
  border-radius: 10px;
  width: 220px;
  transition: ease .20s;
  cursor: pointer;
}
.contact-form form .submit:hover{
  border: 2px solid var(--bg3);
  background: transparent;
  transform: scale(1.1);

}

@media (max-width: 1940px){
  section{
    padding: 80px 3%;
    transition:  .2s;
  }
  .contact-form h1{
    font-size: 60px;

  }
  .contact-form p{
    margin-bottom: 3rem;
  }
  .contact-img img{
    max-width: 840px;
    width: 100%;
}

@media (max-width: 1150px){
  .contact{
    grid-template-columns: 1fr;
  }
  .contact-form{
    order: 2;
  }
  .contact-img img{
    max-width: 100%;
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 30px;
  }
}
