body{
  background-image: 
  linear-gradient(to top, rgb(118,118,189),rgb(118,118,189)), url(https://synergy.ru/assets/upload/news/programmist_posle_9_klassa_predmetyi,_ekzamenyi,_dlitelnost_obucheniya3.jpg);
  color:#f3f3f3;

}

h1,p {
  text-align:center;
}

main {
  background-color: #292948;
  background-opacity: 50%
}
