*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

:root{
  --bg_lighter: #002d60;
  --bg_head: rgba(255,255,255, 6%);
  --logo-color: #00fcff;
  --icons-font: white;
}

body{
  width: 100vw;
  height: 100vh;
  position: relative;
  min-width: 1191px;
  min-height: 926px;
  background-image: radial-gradient(#002d60, #000824 87%);
  background-size: cover;
}

header{
  background: var(--bg_head);
  height: 74px;
  margin: 0 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-transform: uppercase;
  color: var(--logo-color);

  
}

.sound {
  font-size: 18px;
  font-weight: bold;
  display: inline;
}
.store{
  font-weight: 300;
  display: inline;
  position: relative;
  bottom: 4px;
  font-size: 13px;
}

.store-line{
  background-color: var(--logo-color);
  height: 2px;
  margin-top: -1px;

}
.head-item{
  margin: 29px;

}
.icons{
  display: flex;
  justify-content: space-around;
  margin-right: -62px;

}

.icons a{
  font-size: 10px;
  color: var(--icons-font);
  background-color: red;


}

.icons a i{
  color: var(--logo-color);
  font-size: 22px;
  margin-right:7px;
  background-color:aliceblue;
}

.icons-text{
  display: inline;
  background-color:aliceblue;
}


.menu{
  display: grid;
  grid-template: 5px 5px 5px/5px 5px 5px;
  gap: 3px;
}
.menu-item{
  background-color: var(--logo-color);
}
