*{
  padding: 0;
  margin:0;
  text-decoration: none;
  list-style: none;
}

:root{
  --but_bg1: #5b89ce;
  --but_bg2:#466a9f;
  --but_bord:#476443;
  --inp_botd: gray;
  --font_main: white;
  --nav_hov: gray;
}

body{
  background-image: url(../img/bg1.jpg);
  background-size: cover;
  background-position: center;
  width:100%;
  height:100vh;
  font-family: Roboto, sans-serif;
}

nav{
  padding: 34px;
}
nav ul{
  display: flex;
  justify-content: center;
}

nav ul li{
  margin-right: 86px;
}

nav ul li:last-child{
  margin-right: 0;
}
nav a{
  color: var(--font_main);
  font-size: 38px;
  font-weight: 700;
  text-align: left;

}

main{
  margin-top: 15vh;
  margin-bottom: 10vh;
  padding: auto;

}

h1{
  font-size: 80px;
  font-weight: 900;
  line-height: 94px;
  width: 1000px;
  text-align: center;
  margin: auto;
  color: var(--font_main);
}

h2{
  font-family: Roboto;
  font-size: 56px;
  font-weight: 900;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--font_main);
  width: 510px;
  margin: auto;
  
}
nav a:hover{
  color: var(--nav_hov);
}
form{
  display: grid;
  justify-items: center;
  row-gap: 47px;
  margin-top: 70px;
}


input{
  width: 447px;
  height: 67px;

  font-size: 24px;
  outline: none;
  border: 4px  var(--inp_bord) solid;
  border-radius: 20px;
  padding-left: 15px;
}
button{
  width: 261px;
  height: 66px;

  background: #5b89ce;
  color: var(--font_main);
  font-size: 24px;
  font-weight: 700;
  border: 2px solid var(--but_bord);
  border-radius: 25px;
}

button:hover{
  background: var(--but_bg2);
  cursor: pointer;
}
