*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

:root{
  --bg_lighter: #002d60;
  --bg_head: rgba(255,255,255, 6%);
  --logo-color: #00fcff;
  --icons-font: white;
  --grad-border-from: #00d2ff;
  --grad-border-to: #000824;
}

body{
  width: 100vw;
  height: 100vh;
  position: relative;
  min-width: 1191px;
  min-height: 926px;
  background-image: radial-gradient(#002d60, #000824 87%);
  background-size: cover;
}

header{
  background: var(--bg_head);
  height: 74px;
  margin: 0 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-transform: uppercase;
  color: var(--logo-color);

  
}

.sound {
  font-size: 24.43px;
  font-weight: bold;
  display: inline;
}
.store{
  font-weight: 300;
  display: inline;
  position: relative;
  bottom: 4px;
  font-size: 16.52px;
  letter-spacing: -1px;
}

.store::before{
  content: "";
  position: absolute;
  left: ;
  bottom: -1px;
  width: 45px;
  height: 2px;

  background: var(--logo-color);
  z-index: -1;
}

.store-line{
  background-color: var(--logo-color);
  height: 2px;
  margin-top: -2px;

}
.head-item{
  margin: 29px;
}

.icons{
  display: flex;
  justify-content: space-around;
  margin-right: -62px;

}
.icons a{
  font-size: 11px;
  color: var(--icons-font);
}
.icons a i{
  color: var(--logo-color);
  font-size: 26px;
  margin-right:7px;
}
.icons-text{
  display: inline;
  position: relative;
  bottom: 5px;
}


.menu{
  display: grid;
  grid-template: 5px 5px 5px/5px 5px 5px;
  gap: 3px;
  padding-top: 5px;
}
.menu-item{
  background-color: var(--logo-color);
}

aside{
  text-transform: uppercase;
  color: var(--icons-font);
  display: grid;
  grid-template-columns: 84px;
  grid-template-rows: 70px 260px;
  gap: 9px;
  position: absolute;
  top: 300px;
  left: 20px;
}

.aside-title{
}

.first-row{
  letter-spacing: 0.23em;
  font-size: 12.46px;
  display: block;
  font-weight: 400;
}
.sec-row{
  font-size: 19.7px;
  display: block;
  font-weight: 300;
  display: block;
}

.container{
  border: 2px solid;
  border-image: linear-gradient(var(--grad-border-from), var(--grad-border-to)) 10;
}

